* {
  font-family: 'Ubuntu', helvetica, arial, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

.align-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-form {
  width: 20vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  font-size: 2vmin;
}

.input-form {
  width: 15vw;
  margin-bottom: 1vh;
  outline: none;
  border: none;
  border-bottom: 5px solid white;

}

.input-form:active {
  border-bottom: 5px solid #7864ed;
}

.input-form:focus {
  border-bottom: 5px solid #7864ed;
}

.input-form:focus:valid {
  border-bottom: 5px solid #64ed78;
}

.input-form:invalid {
  outline: none;
}

.input-form:focus:invalid {
  border-bottom: 5px solid #ed7864;
}

.submit-form-div {
  display: flex;
  justify-content: center;
}

.submit-form {
  outline: none;
  border: none;
  margin-top: 1vmin;
  width: 15vw;
  background: #99b9f3;
  border-bottom: 10px solid #99b9f3;
  transition: all 0.5s;
}

.submit-form:hover {
  border-bottom: 10px solid #7864ed;
}

.label-help {
  float: right;
  margin: 0px;
}

.form-switch-container {
  width: 100%;
  align-self: flex-end;
  text-align: center;
}

.form-switch {
  text-align: center;
  font-size: 40px;
  height: 50px;
  padding: 0 15px;
}

.glyphicon-cloud-upload {
  float: right;
}

.glyphicon-folder-open {
  float: right;
}

.glyphicon-arrow-left {
  float: left;
}




.header-bar {
  height: 10vh;
  width: 100%;
  background-color: #2a4d67;
  padding: 3vh 5% 3vh 0;
  font-size: 2vmin;
}

#header-button {
  height: 2em;
  float: right;
  outline: none;
  border: none;
  width: 15vw;
  background: white;
  border-bottom: 10px solid white;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  transition: all 0.5s;
}

#header-button:hover {
  border-bottom: 10px solid #7864ed;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.search-form {
  width: 15vw;
  float: left;
  margin-left: 20vw;
  box-sizing: border-box;
  transition: all 5s;
}

.input-search:active {
  border-bottom: 10px solid #7864ed;
}

.input-search:focus {
  border-bottom: 10px solid #7864ed;
}

.settings {
  margin-left: 5vmin;
}

.main {
  clear: both;
  height: 90vh;
  width: 100%;
}

.header-column {
  height: 90vh;
  width: 20vw;
  background-color: #2a4d67;
  float: left;
}

.container {
  width: 80vw;
  float: right;
  display: flex;
  flex-wrap: wrap;
  padding: 2vh 2vw;
}





.object {
  width: 8vw;
  text-align: center;
  margin: 1.5vh 1.5vw;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  padding: 2px;
}

.object:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}


.item {
  height: 12vh;
  width: 100%;
}

.item-type {
  height: 80%;
  width: 100%;
  font-size: 250%;
}

.item-desc {
  width: 100%;
}

.item-desc-name {
  width: 70%;
  text-align: left;
  float: left;
}

.item-desc-icon {
  float: right;
}


.tag {
  width: 100%;
}

.tag-text {
  text-align: left;
  float: left;
}

.tag-icon {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}


.plus {
  height: 12vh;
  width: 100%;
  font-size: 500%;
  line-height: 12vh;
  color: black;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
}

.logo {
  position: absolute;
}

.properties {
  margin-top: 20vmin;
}

.error {
  background: red;
}
