body {
  height: 100vh;
  width: 100vw;
}

.align-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-form {
  width: 20vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.input-form {
  width: 15vw;
  margin-bottom: 1vh;
}

.submit-form-div {
  display: flex;
  justify-content: center;
}

.label-help {
  float: right;
  margin: 0px;
}

.form-switch {
  align-self: flex-end;
}




.header-bar {
  height: 10vh;
  width: 100%;
  background-color: black;
  padding: 3vh 5% 3vh 0;
}

#header-button {
  height: 2em;
  float: right;
}

.search-form {
  width: 15vw;
  float: left;
}

.main {
  clear: both;
  height: 90vh;
  width: 100%;
}

.header-column {
  height: 90vh;
  width: 10vw;
  background-color: black;
  float: left;
}

.container {
  width: 90%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  padding: 2vh 2vw;
}





.object {
  width: 8vw;
  text-align: center;
  margin: 1.5vh 1.5vw;
}


.item {
  height: 12vh;
  width: 100%;
}

.item-type {
  height: 80%;
  width: 100%;
}

.item-desc {
  width: 100%;
}

.item-desc-name {
  width: 70%;
  text-align: left;
  float: left;
}

.item-desc-icon {
  float: right;
}


.tag {
  width: 100%;
}

.tag-text {
  text-align: left;
  float: left;
}

.tag-icon {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}


.plus {
  height: 12vh;
  width: 100%;
  font-size: 500%;
  line-height: 12vh;
  text-shadow: 0 0 10px gray;
  color: white;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
}
